[submodule "flexbox"]
	path = flexbox
	url = https://github.com/JMestre32/flexbox
[submodule "js/etch-a-sketch"]
	path = js/etch-a-sketch
	url = https://github.com/JMestre32/etch-a-sketch
[submodule "js/javascript-exercises"]
	path = js/javascript-exercises
	url = https://github.com/JMestre32/javascript-exercises
[submodule "js/odin-errors"]
	path = js/odin-errors
	url = https://github.com/JMestre32/odin-errors
[submodule "js/rock-paper-scissors"]
	path = js/rock-paper-scissors
	url = https://github.com/JMestre32/rock-paper-scissors
[submodule "js/objects/TOP-Calculator"]
	path = js/objects/TOP-Calculator
	url = https://github.com/JMestre32/TOP-Calculator
[submodule "odin-landing-page"]
	path = odin-landing-page
	url = https://github.com/JMestre32/odin-landing-page
[submodule "inter-html-css/odin-sign-up-form"]
	path = inter-html-css/odin-sign-up-form
	url = https://github.com/JMestre32/odin-sign-up-form
[submodule "inter-html-css/grid/odin-admin-dashboard"]
	path = inter-html-css/grid/odin-admin-dashboard
	url = https://github.com/JMestre32/odin-admin-dashboard
[submodule "advanced-js/TOP-Library"]
	path = advanced-js/TOP-Library
	url = https://github.com/JMestre32/TOP-Library
[submodule "TOP-tictactoe"]
	path = TOP-tictactoe
	url = https://github.com/JMestre32/TOP-tictactoe
